@keyframes translate_r_100 {
  0% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes translate_l_100 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

body {
  line-height: 1.5;
  font-family: "Playfair Display";
  font-size: 14px;
  color: #626262;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  color: #626262;
}

a :hover {
  opacity: 0.7;
}

.pc {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
}

.sub-text, .section-ttl, .shere-wrapper, .article .section-ttl a, .comments-num, .toppost-lists .comment-num {
  color: #c3beb2;
  font-family: "NotoSansCJKjp";
  font-size: 14px;
  line-height: 1;
}

.large-text {
  color: #626262;
  font-size: 30px;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.link-wrapper {
  margin: 30px 0;
}

.comment-link {
  color: #c3beb2;
  font-family: "NotoSansCJKjp";
  font-size: 14px;
  line-height: 1;
  margin-top: 50px;
}

.btn {
  color: #000;
  font-size: 16px;
  line-height: 2;
  padding: 15px;
  border: 1px solid #000;
  transition: 1s;
}

.btn-more:hover {
  background-color: #000;
  color: #c3beb2;
}

.icon {
  padding: 0 4px;
  color: #b4ad9e;
}

.flex-wrapper, .flex-wrapper-nowrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-wrapper .photodiary, .flex-wrapper-nowrap .photodiary {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
}

@media screen and (max-width: 768px) {
  .flex-wrapper .photodiary, .flex-wrapper-nowrap .photodiary {
    width: 100%;
    margin-bottom: 120px;
  }
}

.flex-wrapper-nowrap {
  flex-wrap: nowrap;
}

.itaric-wrapper {
  padding: 20px 15px;
}

.btn-contact {
  margin: auto;
  padding: 17px 81px;
  background-color: #f0f0f0;
}

.section-ttl {
  margin-top: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ta-l {
  text-align-last: left;
}

.theme-color-txt {
  color: #f0f0f0;
}

.sub-color-txt {
  color: #30d0ed;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0;
  background-color: #ffffff;
}

.header-inner {
  height: 160px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-inner .header-logo .header-ttl {
  color: #f0f0f0;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  padding-left: 20px;
}

.header-inner .header-menu {
  margin-left: auto;
  cursor: pointer;
}

.header-inner .header-menu .header_toggle {
  height: 36px;
  padding: 12px 0;
}

.header-inner .header-menu .line {
  content: "";
  top: 10px;
  width: 40px;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: 1s;
}

.header-inner .header-menu .line::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform: translateY(-10px);
}

.header-inner .header-menu .line::after {
  content: "";
  transition: 1s;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform: translateY(10px);
}

.header-inner .header-menu .rotate {
  transition: 1s;
  transform: rotate(45deg);
}

.header-inner .header-menu .rotate::before {
  transition: 1s;
  transform: translateY(0px);
}

.header-inner .header-menu .rotate::after {
  top: 0px;
  transition: 1s;
  transform: translateY(0px) rotate(90deg);
}

.header-inner ul {
  display: flex;
  justify-content: space-between;
}

.header-inner ul li {
  line-height: 50px;
}

.header-inner ul li :hover {
  background-color: #706f6f;
  color: #c3beb2;
  opacity: 0.7;
}

.header-inner ul li a {
  color: #626262;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  padding: 29px 30px;
}

@media screen and (max-width: 768px) {
  .header-inner {
    height: 60px;
  }
}

.header-menu-sp {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: whitesmoke;
  z-index: 10000;
  margin-left: 100%;
  padding-left: 60px;
}

.header-menu-sp ul {
  margin-top: 25%;
}

.header-menu-sp ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

.menu_slidein {
  animation: translate_r_100 1s forwards;
}

.menu_slideout {
  animation: translate_l_100 1s forwards;
}

.top-pic {
  width: 90%;
  margin: auto;
  max-width: 1300px;
  margin-top: 160px;
}

.top-pic img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top-pic {
    width: 100%;
    margin-top: 60px;
  }
}

.photodiary {
  margin-top: 30px;
}

.photodiary-ttl {
  margin: 15px 0;
  font-size: 30px;
}

.shere-wrapper {
  margin: 10px 0;
  text-align: right;
  font-size: 14px;
}

.shere-wrapper i {
  font-size: 16px;
}

.article {
  margin-top: 120px;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-content {
  display: block;
  margin-bottom: 80px;
  width: 45%;
}

.article-content-ttl {
  font-size: 30px;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 20px;
}

.article-content-txt {
  overflow: hidden;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .article-content {
    width: 48%;
  }
  .article-content-ttl {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .article-content {
    width: 100%;
  }
  .article-content-ttl {
    font-size: 20px;
  }
}

.article .section-ttl {
  margin-top: 24px;
}

.article .btn-wrapper {
  margin: 60px auto;
}

.signup {
  background-color: #f0f0f0;
  padding: 60px 0;
  text-align: center;
  margin: 90px 0;
}

.signup-mes {
  font-size: 30px;
  color: #000;
  padding-bottom: 50px;
}

.signup-content {
  border-bottom: 1px solid #000;
  width: 370px;
  margin: auto;
}

.signup-email {
  font-family: "Playfair Display";
  background: none;
  border: none;
  padding: 15px 5px;
  width: 85%;
}

.signup img {
  width: 10%;
}

@media screen and (max-width: 576px) {
  .signup-mes {
    font-size: 30px;
    color: #000;
    padding-bottom: 50px;
  }
  .signup-content {
    width: 90%;
    margin: auto;
  }
}

.recommend {
  background-color: #f0f0f0;
  margin-top: 40px;
  padding: 60px 0px;
}

.recommend .section-ttl {
  margin-top: 0;
  margin-bottom: 26px;
}

.recommend-content {
  display: block;
  width: 30%;
}

.recommend-content h3 {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .recommend-content {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.map {
  margin-top: 180px;
  margin-bottom: 240px;
}

.comment {
  margin-top: 40px;
}

.comments-num {
  margin-bottom: 25px;
}

.comment-wrapper {
  margin: 25px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.comment-userpic {
  width: 100px;
}

.comment-userpic .user-icon {
  width: 72px;
  height: 72px;
  line-height: 72px;
  font-size: 38px;
  font-family: Ubuntu;
  text-align: center;
  color: white;
  border-radius: 36px;
  background-color: #ededea;
}

.comment-userpic .user-icon-green {
  background-color: #cae5e0;
}

.comment-content {
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}

.comment-content .user-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-content-txt {
  line-height: 1.5;
  min-height: 30px;
  padding-bottom: 10px;
}

.comment-post {
  width: 100%;
  height: 74px;
  border-radius: 5px;
  line-height: 74px;
  padding-left: 20px;
  border: 1px solid #706f6f;
}

.side {
  margin-top: 60px;
  width: 260px;
}

.side .banner {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .side {
    width: 80%;
    margin: auto;
  }
}

.about-ttl {
  margin: 15px 0;
  font-size: 24px;
}

.about-txt {
  font-size: 12px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
}

.about .shere-wrapper {
  text-align-last: left;
}

.toppost {
  margin-top: 40px;
}

.toppost-lists {
  list-style: disc;
  list-style-position: inside;
  font-size: 16px;
}

.toppost-lists-content {
  margin: 13px 0;
}

.toppost-lists .comment-num {
  font-size: 12px;
  margin-top: 5px;
}

.ad {
  margin-top: 50px;
}

.footer {
  background-color: #f0f0f0;
  color: #000;
  margin-top: 70px;
  padding: 20px;
  font-size: 14px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
}

.footer a {
  color: #000;
}

.footer .icon {
  color: #000;
}

.footer-menu {
  width: 350px;
}

.footer-menu ul {
  display: flex;
  justify-content: start;
}

.footer-menu ul li {
  font-size: 14px;
  margin-right: 15px;
}

.footer-menu ul li:last-child {
  border-right: none;
}

@media screen and (max-width: 576px) {
  .footer-menu {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer .sns-wrapper {
    width: 100%;
  }
}
